PORT=8080

POSTGRES_USER=oph26_user
POSTGRES_PASSWORD=oph26_password
POSTGRES_DB=oph26_db
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

JWT_SECRET=your_jwt_secret_key
GOOGLE_CLIENT_ID=

APP_ENV=development
# APP_ENV=production
ALLOW_ORIGINS=http://localhost:3000